$palette-turquoise: #1abc9c;
$palette-green-sea: #16a085;
$palette-emerald: #2ecc71;
$palette-nephritis: #27ae60;
$palette-peter-river: #3498db;
$palette-belize-hole: #2980b9;
$palette-amethyst: #9b59b6;
$palette-wisteria: #8e44ad;
$palette-wet-asphalt: #34495e;
$palette-midnight-blue: #2c3e50;
$palette-sun-flower: #f1c40f;
$palette-orange: #f39c12;
$palette-carrot: #e67e22;
$palette-pumpkin: #d35400;
$palette-alizarin: #e74c3c;
$palette-pomegranate: #c0392b;
$palette-clouds: #ecf0f1;
$palette-silver: #bdc3c7;
$palette-concrete: #95a5a6;
$palette-asbestos: #7f8c8d;
