$palette-pomegranate-light: #db695d;
$palette-pomegranate: #c0392b;
$palette-pomegranate-dark: #962d22;
$palette-pomegranate-dark: #6d2018;
$palette-pom-green: #2bc0c0;
$palette-white: #fff;
$palette-background: #f5f5f5;
$palette-background2: #fbfbfb;
$palette-clouds: #ecf0f1;
$palette-page: #e6ebed;
$palette-silver: #bdc3c7;
$palette-concrete: #95a5a6;
$palette-asbestos: #7f8c8d;
$grey-pomegranate: #7c7d84;
$grey-player: #e1e3e8;
$greo-player-border: #d7dbe2;
$palette-wet-asphalt: #34495e;
$palette-midnight-blue: #2c3e50;
$palette-logo-color: #0D202F;

$palette-emerald: #cef6cd;
$palette-emerald-subtle: #c9dec8;
$palette-emerald-dark: #95da93;

$text-color: $palette-asbestos;


$palette-turquoise: #1abc9c;
$palette-green-sea: #16a085;
$palette-nephritis: #27ae60;
$palette-amethyst: #9b59b6;
$palette-wisteria: #8e44ad;
$palette-peter-river: #3498db;
$palette-belize-hole: #2980b9;
$palette-navy-blue: #446CB3;
$palette-sun-flower: #f1c40f;
$palette-orange: #f39c12;
$palette-carrot: #e67e22;
$palette-pumpkin: #d35400;
$palette-alizarin: #e74c3c;
