@import 'components/app';
@import 'components/tabs';

// Default Page Styling

html, body {
    background-color: $palette-background;
    height: 100%;
    width: 100%;
    font-size: 16px;
}

#page {
    margin: 0 auto;
    padding: 5px 20px;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 400px;
}

#piano-roll {
    height: 100%;
    display: block;
    width: 100%;
}

#canvas {
    width: 100%;
    height: 100%;
}

.toolbar {
    position: absolute;
    bottom: 0;
    left: 0;

    &__button {
        height: 40px;
        width: 40px;
        font-size: 2em;

        &.active i {
            transform: rotate(-30deg);
        }

        i {
            transition: transform 0.2s linear;
            transform: rotate(0deg);
        }
    }
}

.tool {
    position: absolute;
    display: inline-block;
    bottom: 40px;
    padding: 16px;
    left: 0;
    background-color: $palette-clouds;
    border: 1px solid rgba($palette-midnight-blue, 0.1);
    border-radius: 2px;
}

.hide {
    display: none!important;
}
