.app {
    height: 100%;
    position: relative;
    overflow: hidden;

    &__window {
        height: 80%;
    }

    &__controls {
        height: 20%;
        text-align: center;

        &:before {
            display: inline-block;
            content: "";
            vertical-align: middle;
            height: 100%;
        }

        &__start {
            display: inline-block;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            line-height: 100%;
            background-color: $palette-wet-asphalt;
            transition: background-color 0.3s ease-out;
            font-size: 5em;
            vertical-align: middle;

            &:hover, &.active {
                background-color: $palette-emerald-dark;
            }

            &__icon {

            }
        }
    }
}
